<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pagename }}</title>
</head><h1 align="center">{{ pagename }}</h1>
<body>
    {% for j, i in menu.items %}
        {% for k in i %}
            <h2 align="center"><a href='{{ k }}'>{{ j }}</a></h2>
        {% endfor %}
    {% endfor %}
    {% for l, m in content.items %}
        {% for n in m %}
            <ul>
                <li><h2>{{ l }}: {{ n }} - <a href="http://127.0.0.1:8000/cart/"><button>Купить</button></a></h2></li>
            </ul>
        {% endfor %}
    {% endfor %}
    <h2 align="center">{{ content }}</h2>
    <h2 align="center"><a href="http://127.0.0.1:8000/games/"><button>Вернуться обратно</button></a></h2>
</body>
</html>